absl-py==0.6.1
astor==0.7.1
certifi==2018.10.15
cycler==0.10.0
gast==0.2.0
grpcio==1.12.1
h5py==2.8.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.1
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.3
protobuf==3.6.1
pyparsing==2.2.2
python-dateutil==2.7.5
pytz==2018.7
PyYAML==5.4
scipy==1.1.0
six==1.11.0
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
tornado==5.1.1
tqdm==4.28.1
Werkzeug==0.14.1
